#dissolvePanel(hidden).panel
	div(class="row")
		div(class="twelve columns")
			h3 Dissolve
			p Dissolve a corporation.  This form will add a dissolve record to the Blockchain for the selected company.
	form(action="/create" method="POST")#createform
		div(class="row")
			div(class="four columns") 
				legend
					b Jurisdiction:
					br
					select(name="jurisdiction" class="u-full-width")
							option(value="" disabled="disabled" selected="selected") Jurisdiction
							option(value="#{bag.setup.USER1}") #{bag.setup.USER1longname}
							option(value="#{bag.setup.USER2}") #{bag.setup.USER2longname}
							option(value="#{bag.setup.USER3}") #{bag.setup.USER3longname}
							option(value="#{bag.setup.USER4}") #{bag.setup.USER4longname}	
							option(value="#{bag.setup.USER5}") #{bag.setup.USER5longname}
							option(value="#{bag.setup.USER6}") #{bag.setup.USER6longname}
							option(value="#{bag.setup.USER7}") #{bag.setup.USER7longname}
							option(value="#{bag.setup.USER8}") #{bag.setup.USER8longname}
							option(value="#{bag.setup.USER9}") #{bag.setup.USER9longname}
							option(value="#{bag.setup.USER10}") #{bag.setup.USER10longname}
							option(value="#{bag.setup.USER11}") #{bag.setup.USER11longname}
							option(value="#{bag.setup.USER12}") #{bag.setup.USER12longname}
							option(value="#{bag.setup.USER13}") #{bag.setup.USER13longname}
							option(value="#{bag.setup.USER14}") #{bag.setup.USER14longname}
			div(class="eight columns") 
				legend 
					b Corporate Name:
					br
					input(type="text" name="corporateName" placeholder="" class="u-full-width")
		div(class="row")
			div(class="twelve columns" style="text-align:left")
				button(type="button" class="button-primary")#submit
					span.fa.fa-check &nbsp;&nbsp;
					span Dissolve
				
				