#registerPanel.panel
	div(class="row")
		div(class="twelve columns")
			h4 Register
			p Register a corporation across jurisdictions.  This form will create a registry entry on the blockchain for one or more jurisdictions for a single corporation.
	form(action="/create" method="POST")#createform
		div(class="row")
			div(class="twelve columns")
				legend 
					b Corporation Name:
					br
					input(type="text" name="corporationName" placeholder="" class="u-full-width")
				legend 
					b E-Mail Address:
					br
					input(type="text" name="email" placeholder="" class="u-full-width")
				legend 
					b Mailing Address:
					br
					textarea(rows="5" class="u-full-width")
				legend 
					b Filling Date:
					br
					input(type="text" name="email" placeholder="MM-DD-YYYY")

		div(class="row")
			div(class="twelve columns")
				b Jurisdiction(s):
				p Choose jurisdictions in which to register
		div(class="row")
			div(class="four columns")
				input(type="checkbox" name="#{bag.setup.USER1}")
				|  #{bag.setup.USER1longname}
				br
				input(type="checkbox" name="MB")
				|  Manitoba
				br
				input(type="checkbox" name="NB")
				|  New Brunswick
				br
				input(type="checkbox" name="NL")
				|  Newfoundland and Labrador
				br
				input(type="checkbox" name="NT")
				|  Northwest Territories
				br
			div(class="four columns")
				input(type="checkbox" name="NS")
				|  Nova Scotia
				br
				input(type="checkbox" name="NU")
				|  Nunavut
				br
				input(type="checkbox" name="ON")
				|  Ontario
				br
				input(type="checkbox" name="PE")
				|  Prince Edward Island
				br
			div(class="four columns")
				input(type="checkbox" name="QC")
				|  Quebec
				br
				input(type="checkbox" name="SK")
				|  Saskatchewan
				br
				input(type="checkbox" name="YT")
				|  Yukon
				br
				input(type="checkbox" name="FED")
				|  Federal Government
				br
					
				//legend
				//	select(name="transactionType")
				//		option(value="35" disabled="disabled" selected="selected") Transaction Type
				//		option(value="R") Register
				//		option(value="NC") Name Change
				//		option(value="Re") Report
				//		option(value="D") Dissolve		
				//br
				//legend 
				//	select(name="user")
				//		option(value="#{bag.setup.USER1}" disabled="disabled" selected="selected") Jurisdiction
				//		option(value="#{bag.setup.USER1}") #{bag.setup.USER1longname}
				//		option(value="#{bag.setup.USER2}") #{bag.setup.USER2longname}
				//br
		div(class="row")
			div(class="twelve columns" style="text-align:left")
				p
				button(type="button" class="button-primary")#submit
					span.fa.fa-check &nbsp;&nbsp;
					span REGISTER
				
				